.project-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-main {
  display: flex;
  justify-content: space-around;
}
.build-main {
  display: flex;
  justify-content: space-around;
}

.build-team {
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  padding: 150px 15px;
  width: 50%;
}
.fixed-price {
  padding: 150px 15px;
  background: #13202d;
  color: #fff;
  z-index: 1;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.team-text button {
  color: #2569e6;
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  border: none;
  margin-top: 10px;
}

@media (max-width: 996px) {
  .build-main,
  .fixed-price {
    flex-direction: column-reverse;

    padding-left: 40px;
  }
  .fixed-main,
  .build-txt {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .project-main {
    flex-direction: column;
  }
  .build-team {
    width: 100%;
  }
  .fixed-price {
    width: 100%;
  }
}
