.header-solution {
  position: absolute;
  top: 50%;
}
.header-solution h1 {
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
  line-height: 54px;
}
.header-solution p {
  color: white;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 36px;
}
.header-solution button {
  color: #fff;
  background: #2569e6;
  padding: 10px 24px;
  border-radius: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
}

@media (min-width: 900px) {
  .header-logo {
    margin-top: 7%;
    flex-wrap: nowrap;
  }
  .header-logo svg {
    margin-left: 50px;
  }
}

@media (max-width: 900px) {
  .header-logo {
    display: none;
  }
}
@media (max-width: 1265px) {
  .header-logo svg {
    margin-left: 0px;
    margin-right: 20px;
  }
}
