.bfooter-wrapper {
  margin-top: 100px;
}

.bFooter-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.servicess,
.solution,
.technology,
.fcontact {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}
.servicess a,
.solution a,
.technology a,
.fcontact a {
  color: black;
  margin-top: 10px;
}
.special-blue {
  color: blue !important;
}
.cities ul {
  list-style: none;
  display: flex;
  padding-left: 0%;
  margin-bottom: 0%;
}
.fcontact h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .servicess,
  .solution,
  .technology,
  .fcontact {
    width: 50%;
  }
}
@media (max-width: 498px) {
  .servicess,
  .solution,
  .technology,
  .fcontact {
    width: 100%;
  }
}
