.podcast-wrap {
  display: flex;
  justify-content: space-evenly;
}
.better-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.podcast-img img {
  width: 600px;
  cursor: pointer;
}
.strong-partner {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  padding: 20px 30px;
  background-color: #fff;
  margin-bottom: 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.6s all ease;
  color: #212529;
}
.short {
  margin-left: 10px;
}
.strong-img {
  display: contents;
}
h3 {
  margin: 0%;
}
p {
  margin: 0%;
}
